body{
    background-color: rgb(207, 220, 224);
    text-align: center;
}


/* nav {
    background: rgb(212, 176, 176);
    height: 3rem;
    display: grid;
    align-items: center;
    box-shadow: darkgray;
  } */