body{
    background-color: lightgray;
    
}


main {
    min-height: 70vh;
    display: grid;
    place-items: center;
  }

.container {
    text-align: center;
  }

  h1{
      font-size: 3rem;
      font-stretch: wider;
      font-weight: bolder;
  }
  
  #value {
    font-size: 6rem;
    font-weight: 500;
  }


  .btn {
    text-transform: uppercase;
    color: rgb(70, 64, 64);
    padding: 0.375rem 0.75rem;
    letter-spacing: 0.25rem;
    display: inline-block;
    transition: all .3s linear;
    font-size: 0.875rem;
    border: 2px solid #000;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(14, 164, 233, 0.8);
    border-radius: .5rem;
    margin:.5rem;
    background-color: lightskyblue;
  }

  .btn:hover {
    color: #fff;
    background: rgb(16, 3, 133);
  }